.header-top-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 5px gray;
}
.header-top-container .header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.header-top-container .header-left{
    display: flex;
    flex-grow: 1;
}
.header-top-container .header-right{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
    padding-left: 25px;
}
.header-top-container .header-title{
    font-size: 21px;
}
.header-left-container{
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    left: 0;
    height: 100%;
    width: 120px;
    box-shadow: 0 0 5px gray;
    background-color: white;
}
.header-left-container .header{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    padding-top: 50px;
}
.header-left-container .header-select{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 25px;
}
.header-left-container .header-select .active{
    background-color: #f3f7fe;
    border-right: 3px solid #52a2d9;
}
.header-left-container .header-option{
    padding: 10px 0;
    margin: 5px 0;
    width: 100%;
    color: black;
    text-decoration: none;
    text-align: center;
}
.header-left-container .header-select active{
    background-color: #987654
}
/*----------*/
.all-top{
    padding-top: 60px;
    margin-left: 130px;
}
.all-container{
    display: flex;
    flex-flow: column nowrap;
    margin: 45px 80px 0px 80px;
}
.all-title{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
}
.all-title title{

}
.all-title .form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    align-self: flex-end;
}
.all-title .form div{
    font-size: 13px;
}
.all-title .form input{
    margin: 0 0 0 20px;
}
.all-content{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 10px 30px 0px 30px;
    margin: 0 0 100px 0;
    background-color: white;
    border: 1px solid #adadad;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #bcbcbc;
}
.content-title{
    padding: 0 90% 10px 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
.content-contain{
    width: 100%;
    padding: 20px 0;
}
.file-string{
    margin-right: 35px;
    border: 1px dashed #bdbdbd;
}
.bubble-button{
    padding: 5px 15px;
    font-size: 13px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/*----------*/
.file-option{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}
.fileName{

}
.download-button{
    background-color: #123456;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}
/*----------*/
.select-video{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.select-video .button-list{
    display: flex;
    flex-flow: row nowrap;
}

.button-list .bubble-button{
    margin: 0px 50px 0 0;
    text-align: center;
    width: 65px
}
.video-list{
    margin: 0 0 20px 0;
    color: #888888;
}
.video-list-info{
    font-size: 12px;
    margin: 0 0 10px 0;
}
.video-list-info span{
    margin: 0 60px 0 15px;
    color: #89d4ff;
    font-weight: bold;
}
.video-li{
    display: flex;
    margin: 0 0 5px 0;
    font-size: 12px
}
.video-li .name{
    padding-right: 80px
}
.video-li .time{

}
/*----------*/
.video-compare{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start
}
.video-compare .video-sel{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 10px 0;
}
/*----------*/
.state-table{
    width: 100%;
    border-spacing: 0px;
}
.state-table tr{

}
.state-table td{
    font-size: 13px;
    color: #333333;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #dddddd;
}
.state-table tr:nth-child(even){
    background-color: #f4f6fa;
}
.state-table th{
    text-align: start;
    font-weight: normal;
    font-size: 15px;
    color: #333333;
    padding: 0 0 15px 15px;
    border-bottom: 1px solid #dddddd;
}
/*-----login-----*/
.LoginFrom{
    margin: 100px 30%;
}
.LoginFrom>.form-title{
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0 0 40px 0;
    border-bottom: solid 3px gray;
    color: #666666;
}
.LoginFrom>.form-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.LoginFrom>.form-content input{
    width: 240px;
    height: 20px;
    margin: 0 0 20px 0;
}
.LoginFrom>.form-submit{
    padding: 40px 0 40px 0;
    border-bottom: solid 1px gray;
}
.LoginFrom>.form-submit .btn{
    width: 120px;
    margin: auto;
    padding: 3px 0;
    text-align: center;
    cursor: pointer;
    background-color: #d0d0d0;
    border-radius: 10px;
}
.LoginFrom>.form-tip{
    text-align: center;
}
/*---similarity---*/
.similarity-result{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 8px;
}
.similarity-result .content-title-info{
    margin-bottom: 8px;
    font-size: 15px;
    color: #888888;
}