.header-top-container .header{
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    box-shadow: 0px 0px 5px #aaa;
    align-items: center;
    padding-left: 50px;
    background-color: #fff;
}
.header-top-container .header-left{

}
.header-top-container .header-right{

}
.header-top-container .header-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px
}
/*----------*/
.personal-page{
    position: relative;
    margin: auto;
    max-width: 1020px;
}
.personal-color{
    margin-top: 20px;
    height: 120px;
    width: 100%;
    background-color: #bdbdbd;
}
/*----------*/
.personal-info{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    padding: 20px 25px;
    height: 110px;
    border-radius: 8px;
    box-shadow: 0 0 3px #ccc;
    background-color: #fff;
}
.personal-info .info-right{
    display: flex;
    flex-flow: column-reverse nowrap;
    /* padding: 10px 15px; */
}
.info-right .detail{
    padding: 5px 10px;
    border-radius: 5px;
    color: #0396ff;
    border: 1px solid #0396ff;
}
.personal-info .info-left{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    /* margin: 0 0 0 30px; */
    /* padding: 15px 0; */
}
.info-left .head-img{
    position: relative;
    bottom: 60px;
    margin: 0 20px 0 0;
    width: 168px;
    height: 168px;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid #fff;
}
.info-left .name{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.name .name-nick{
    font-size: 26px;
    font-weight: bold;
}
.name .name-email{
    font-size: 21px;
    font-weight: bold;
    color: #686868;
}
/*----------*/
.personal-other{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 0 0 0;
}
.message{
    width: 71%;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
}
.message .msg-header{
    position: relative;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
}
.msg-header .li{
    margin: 0 0 0 20px;
    font-size: 18px;
}
.msg-header .active::before{
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    outline: 2px solid #0084ff;
}
.msg-header .active{
    position: relative;
    margin: 0 0 0 20px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
.message .msg-content{
    min-height: 300px;
}
/*----------*/
.video-list{
    display: flex;
    flex-flow: column nowrap;
}
.video-card{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
}
.video-img{
    width: 90px;
    height: 70px;
}
.video-info{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-self: center;
    margin: 0 30px;
    color: #888;
    font-size: 13px;
}
.video-btn{
    align-self: flex-end;
    margin: 0 10px 10px 0;
    padding: 3px 15px;
    color: #0084ff;
    background-color: #e5f2ff;
    border-radius: 10px;
    border: 1px solid #0084ff;
    cursor: pointer;
}
/*----------*/
.friends{
    margin: 0 0 0 10px;
    width: 28%;
}
.fri-header{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    font-size: 18px;
}
.fri-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 5px 3px;
}
.fri-li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    color: #888;
    font-weight: bold;
}
.fri-li .fri-head{
    width: 48px;
    height: 48px;
}
.fri-li .fri-email{

}